.big-button{
    background: $purple;
    border: none;
    border-bottom: 0.6rem solid darken($color: $purple, $amount: 10%);
    color: white;
    font-weight: bold;
    font-size: $large-size;
    width: 100%;
    margin-bottom: $xlarge-size;
    padding: 2.4rem;
}

.big-button:disabled{
    opacity: 0.5;
}

.button { 
    background: $purple;
    border: none;
    border-bottom: 0.3rem solid darken($color: $purple, $amount: 10%);
    color: white;
    font-weight: 500;
    padding: $small-size;
}

.button--link{
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
    outline: none;
}

@media (max-width: $desktop-size) {
    .big-button {
        margin-bottom: $meduim-size;
    }
}